<component name="ArtifactManager">
  <artifact type="exploded-war" name="springboot_child5:war exploded">
    <output-path>$PROJECT_DIR$/springboot_parent/springboot_child5/target/springboot_child5</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springboot_child5" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/springboot_parent/springboot_child5/target/springboot_child5/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springboot_child5/web/Web" />
    </root>
  </artifact>
</component>